body {
    display: felx;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 300px;
}

.hero {
    background-color: #00244E;
    color: #FFFFFF; 
    text-shadow: 0 0 3px black;
    padding: 10px;
}

.activities {
    
}

.guide {
    border: 2px dotted blue;
    display: flex;
}

.csuf-title-logo {
    font-size: 42px;
}

#title-color-two {
    color: #FF7900;
}